* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f7E2E2;
    color: #f7E2E2;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  a {
    color: #f7E2E2;
  }

  .active { background-color: #16192f;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: transparent;
    top: 0;
    z-index: 10000;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    transition: all 0.2s ease-in-out;
  }

  header
  
  #logo {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
  }
  
  nav {
    align-self: center;
  }
  
  header a {
    font-size: .8rem;
    margin: 10px;
  }

.parallax {
    /* Full height */
    height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .parallax-one {
    background-image: url("../images/hero.jpg");
  }

  .parallax-two {
    background-image: url("../images/fc-ep.png");
  }

  #parallax-content {
    height:400px;
    background: black;
    ;
  }
  
    /* Hero Style Start */
  .hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20vw;
  }
    
  .hero-text {
    width: 50%;
    height: 100%;
    color: #f7E2E2;
    text-align: center;
    font-style: italic;
    margin: 0 0 0 20px;
    display: flex;
  }
  
  .hero-text p {
    align-self: center;
  } 
  
  .section {
    background: #187666;
    margin: 20px 20px 0;
    padding: 20px;
  }
  
  .section-title {
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .section-content {
    margin-right: 20px;
  }
  
  .section-image {
    text-align: center;
  }
  
  .section-image img {
    margin: auto;
    width: 50vw;
  }
  
  .section-images {
    margin-top: 20px;
    display: flex;
  }
  
  .section-images div {
    flex: 1;
  }
  
  .section-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .three-column-section {
    padding:  0 10px;
  }
  
  .three-column-section .section {
    flex: 1;
    margin: 20px 10px 0;
  }
  
  #project-two img, #project-three img {
    width: 100%;
  }
  
  footer {
    margin: 20px 0 0 0;
    padding: 40px;
    background: #16192f;
    text-align: center;
  }
  
  footer .section-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer .social-media-icons img {
    width: 50px;
    padding: 10px;
    filter: invert(1);
  }
  
  @media (min-width: 762px) {
    #logo {
      font-size: 36px;
    }
    header a {
      font-size: 1.5rem;
    }
    .hero-text {
      width: 33%;
    }
    .full-length-section {
      display: flex;
    }
    .section-image img {
      width: 20vw;
    }
    .three-column-section {
      display: flex;
    }
  }